<div class="app align-content-stretch d-flex flex-wrap">
  <div class="app-container">
    <div class="app-content">
      <div class="content-wrapper">
        <div class="container-fluid">
          <div class="row">
            <div class="col">
              <div class="card">
                <div class="card-body">
                  <div class="example-container">
                    <div class="example-content bg-light">
                      <div class="page-description d-flex align-items-center">
                        <div class="page-description-content flex-grow-1">
                          <h4>Cấu hình gửi Email</h4>
                          <span>Địa chỉ máy chủ: </span><span style="font-weight:bold">Địa chỉ máy chủ</span><br />
                          <span>Trạng thái: </span><span style="font-weight:bold">mặc định</span><br />
                        </div>
                        <div class="page-description-actions">
                          <a [routerLink]="['/system-settings/email']" class="btn btn-outline-primary"><i class="fa fa-pencil-square-o"></i>Cập nhật</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="content-wrapper">
        <div class="container-fluid">
          <div class="row">
            <div class="col">
              <div class="card">
                <div class="card-body">
                  <div class="example-container">
                    <div class="example-content bg-light">
                      <div class="page-description d-flex align-items-center">
                        <div class="page-description-content flex-grow-1">
                          <h4>Cấu hình gửi tin nhắn SMS</h4>
                          <span>Nhà cung cấp: </span><span style="font-weight:bold">[Chưa được thiết lập]</span><br />
                          <span>Địa chỉ service: </span><span style="font-weight:bold">[Chưa được thiết
                            lập]</span><br />
                          <span>Trạng thái: </span><span style="font-weight:bold">[Chưa được thiết lập]</span><br />
                        </div>
                        <div class="page-description-actions">
                          <a [routerLink]="['/system-settings/sms-form']" class="btn btn-outline-primary"><i class="fa fa-pencil-square-o"></i>Cập nhật</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="content-wrapper">
        <div class="container-fluid">
          <div class="row">
            <div class="col">
              <div class="card">
                <div class="card-body">
                  <div class="example-container">
                    <div class="example-content bg-light">
                      <div class="page-description d-flex align-items-center">
                        <div class="page-description-content flex-grow-1">
                          <h4>Cấu hình kết nối thiết bị ký số HSM</h4>
                          <span>Tên nhà cung cấp: </span><span style="font-weight:bold">[Chưa được thiết
                            lập]</span><br />
                          <span>Địa chỉ service HSM: </span><span style="font-weight:bold">[Chưa được thiết
                            lập]</span><br />
                          <span>Trạng thái: </span><span style="font-weight:bold">[Chưa được thiết lập]</span><br />
                        </div>
                        <div class="page-description-actions">
                          <a [routerLink]="['/system-settings/hsm']" class="btn btn-outline-primary"><i class="fa fa-pencil-square-o"></i>Cập nhật</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="content-wrapper">
        <div class="container-fluid">
          <div class="row">
            <div class="col">
              <div class="card">
                <div class="card-body">
                  <div class="example-container">
                    <div class="example-content bg-light">
                      <div class="page-description d-flex align-items-center">
                        <div class="page-description-content flex-grow-1">
                          <h4>Cấu hình kết nối API eContracts</h4>
                          <span>Tên cấu hình: </span><span style="font-weight:bold">[Chưa được thiết lập]</span><br />
                          <span>Giá trị token: </span><span style="font-weight:bold">[Chưa được thiết lập]</span><br />
                          <span>Trạng thái: </span><span style="font-weight:bold">[Chưa được thiết lập]</span><br />
                        </div>
                        <div class="page-description-actions">
                          <a  [routerLink]="['/system-settings/api-contract']" class="btn btn-outline-primary"><i class="fa fa-pencil-square-o"></i>Cập nhật</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>