<div class="container" appDnd (fileDropped)="onFileDropped($event)">
  <input type="file" #fileDropRef id="fileDropRef" multiple (change)="fileBrowseHandler($event.target.files)" />
  <img src="assets/img/icon/upload.svg" width="50px" alt="file">
  <br/>
  <span class="text-primary text-uppercase" style="font-size: 20px;">Kéo thả file hoặc bấm vào</span>
  <br />
  <label for="fileDropRef" style="padding-top: 1%;">Chọn file</label>
  <br />
  <p style="font-size: 16px;">(<span class="text-danger">*</span>) Định dạng hỗ trợ: 
    <span class="text-danger">PDF</span>
  </p>
</div>
<div class="files-list">
  <div class="single-file" *ngFor="let file of files; let i = index">
    <img src="assets/img/icon/file.svg" width="30px" alt="file">
    <div class="info">
      <h4 class="name">
        {{ file?.name }}
      </h4>
      <p class="size">
        {{ formatBytes(file?.size) }}
      </p>
      <app-progress [progress]="file?.progress"></app-progress>
    </div>
    <img src="assets/img/icon/print.svg" class="delete" width="30px" alt="file" (click)="openScrollableContent(file, longContent)"> 
    <img src="assets/img/icon/close.svg" class="delete" width="30px" alt="file" (click)="deleteFile(i)">
  </div>
</div>

<ng-template #longContent let-modal>

      <div class="modal-header">
        <h4 class="modal-title"></h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="cus-modal-body">
        <iframe id="iframeViewPdf" [src]="pdfSrc" class="col-xl-12"></iframe>
      </div>

  
</ng-template>