<div class="d-flex flex-column bd-highlight manage-documents">
  <nz-tabset nzSelectedIndex="0" nzType="editable-card" nzHideAdd (nzSelectChange)="handleSelectTab($event)">
    <nz-tab [nzTitle]="myselfSign">
      <ng-template #myselfSign>
        <div>
          Tôi ký
        </div>
      </ng-template>
    </nz-tab>
    <nz-tab [nzTitle]="sended">
      <ng-template #sended>
        <div>
          Nháp
        </div>
      </ng-template>
    </nz-tab>
    <nz-tab [nzTitle]="draft">
      <ng-template #draft>
        <div>
          Chờ ký
        </div>
      </ng-template>
    </nz-tab>
    <nz-tab [nzTitle]="receptionCopy">
      <ng-template #receptionCopy>
        <div>
          Từ chối
        </div>
      </ng-template>
    </nz-tab>
    <nz-tab [nzTitle]="manageMember">
      <ng-template #manageMember>
        <div>
         Hoàn thành
        </div>
      </ng-template>
    </nz-tab>
  </nz-tabset>
  <nz-spin [nzSpinning]="isSpinning" class="register__spinning">
  <div class="formWapper">
    <app-document-form (onFormSearch) = "hendlFormSearch($event)"></app-document-form>
    <app-document-table [documents]="documents" 
      (onPageChange) = "handlePageChange($event)"
      (editDocument)="editDocument($event)"
      (editDocument)="editDocument($event)"
      (continueSignDocument)="continueSignDocument($event)" 
      (viewDocument)="viewDocument($event)"
      (singDocument)="singDocument($event)"
      (onCheckChange)="checkChange($event)"
      ></app-document-table>
  </div>
</nz-spin>
</div>
