<div class="d-flex flex-column bd-highlight manage-documents">
  <nz-tabset nzSelectedIndex="0" nzType="editable-card" nzHideAdd (nzSelectChange)="handleSelectTab($event)">
    <nz-tab [nzTitle]="Process">
      <ng-template #Process>
        <div>
          Đang xử lý
        </div>
      </ng-template>
    </nz-tab>
    <nz-tab [nzTitle]="Draft">
      <ng-template #Draft>
        <div>
          Nháp
        </div>
      </ng-template>
    </nz-tab>
    <nz-tab [nzTitle]="Finish">
      <ng-template #Finish>
        <div>
          Hoàn thành
        </div>
      </ng-template>
    </nz-tab>
    <nz-tab [nzTitle]="Cancel">
      <ng-template #Cancel>
        <div>
          Từ chối
        </div>
      </ng-template>
    </nz-tab>
    <nz-tab [nzTitle]="OutofDate">
      <ng-template #OutofDate>
        <div>
         Quá hạn
        </div>
      </ng-template>
    </nz-tab>
    <nz-tab [nzTitle]="Refuse">
      <ng-template #Refuse>
        <div>
         Hủy bỏ
        </div>
      </ng-template>
    </nz-tab>
  </nz-tabset>
  <nz-spin [nzSpinning]="isSpinning" class="register__spinning">
  <div class="formWapper">
    <app-document-form (onFormSearch) = "hendlFormSearch($event)"></app-document-form>
    <app-document-table 
      [documents]="documents" 
      [tabSeleted] = "tabSeleted"
      (onPageChange) = "handlePageChange($event)"
      (editDocument)= "editDocument($event)"    
      (continueSignDocument)= "continueSignDocument($event)" 
      (viewDocument)= "viewDocument($event)"
      (onSingDocument)= "singDocument($event)"
      (onApproveDocument)= "approveDocument($event)"
      (onCheckChange)= "checkChange($event)"
      (onQuickView)= "quickView($event)"
      (onCancelDocument)= "cancelDocument($event)"
      (onSendEamilNotification)= "sendEamilNotification($event)"
      (onDownloadDocument)= "downloadDocument($event)"
      (onDownloadCancelDocument)= "downloadCancelDocument($event)"
      (onRestoreDocument)= "restoreDocument($event)"
      (onDeleteDocument) = "deleteDocument($event)"
      (onExtendDocument) = "extendDocument($event)"
      ></app-document-table>
  </div>
</nz-spin>
</div>
