<div nz-row class="customers-list manage-template-documents-table">
  
  <div nz-col nzSpan="24">    
    <div class="page-header">
        <div nz-row nzGutter="30">
            <div nz-col nzMd="18">
              <h5>Danh sách khách hàng</h5>
            </div>
            <div nz-col nzMd="6" class="action">
                <button nz-button nzType="primary" (click)="add()" class="btn-success"><i nz-icon nzType="plus" nzTheme="outline"></i>
                  Tạo mới khách hàng
                </button>
                <button nz-button nzType="primary" (click)="upload()" class="btn-success"><i nz-icon nzType="plus" nzTheme="outline"></i>
                  Upload
                </button>
            </div>
        </div>
    </div>
    <div class="customers-list__container manage-template-documents-table__container">
        <div class="page-search"> 
          <form nz-form [formGroup]="formSearch">
            <div nz-row nzGutter="30">
                <div nz-col nzMd="8">
                  <nz-form-item>
                    <nz-form-control>
                      <input type="text" (ngModelChange)="changeKeyword($event)" nz-input formControlName="keyword" placeholder="Tìm kiếm">
                    </nz-form-control>
                  </nz-form-item >
                </div>
                <div nz-col nzMd="8">
                    <nz-form-item>
                      <nz-form-control>
                       <nz-select formControlName="customerType" nzShowSearch (ngModelChange)="changeClientType($event);" nzAllowClear
                          nzPlaceHolder="Lựa chọn loại khách hàng">
                          <nz-option [nzValue]="clientType.key" nzLabel="{{ clientType.name | translate }}" *ngFor="let clientType of customersType"></nz-option>
                        </nz-select>
                      </nz-form-control>
                    </nz-form-item >
                  </div>
            </div>
          </form>
          </div>
        
      <div class="customers-list__table">
        <nz-spin [nzSpinning]="isSpinning" class="customers-list__spinning">
        <table class="table table-bordered table-hover">
          <thead>
            <tr>
                <th style="width: 50px;" class="align-middle" rowspan="2" >STT</th>
                <th rowspan="2" class="align-middle">Tên khách hàng</th>
                <th style="width: 100px;" class="align-middle"  rowspan="2">Email</th>
                <th style="width: 100px;" class="align-middle"  rowspan="2">Loại KH</th>
                <th style="width: 120px;" >Doanh nghiệp</th>
                <th style="width: 280px;" class="align-middle" colspan="3">Cá nhân</th>
                <th style="width: 100px;" class="align-middle" rowspan="2">Hành động</th>
            </tr>
            <tr>
               <th>Mã số thuế</th>
               <th style="width: 150px;">Địa chỉ</th>
               <th style="width: 120px;">CMND/ Căn cước</th>
               <th style="width: 100px;">Số điện thoại</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let customer of clients;index as i ">
              <td class="text-center align-middle">{{i + 1}}</td>
              <td class="text-left align-middle">{{ customer.companyName }}</td>
              <td class="text-left align-middle">{{ customer.email }}</td>
              <td class="text-center align-middle">{{ customersTypeView[customer.customerType] | translate }}</td>
              <td class="text-left align-middle">{{ customer.taxCode }}</td>
              <td  style="width: 150px;" class="text-left align-middle">{{ customer.address }}</td>
              <td class="text-left align-middle">{{ customer.identityCard }}</td>
              <td class="text-left align-middle">{{ customer.mobile }}</td>
              <td class="align-middle icon-edit">
                  <a (click)="loadResultOfDeclaration(data)" title="Tạo hợp đồng" nz-button nzType="link">
                    <i nz-icon nzType="file-add" nzTheme="outline"></i>
                  </a>
                  <a (click)="edit(customer.id)" title="Chỉnh sửa khách hàng" nz-button nzType="link">
                    <i nz-icon nzType="edit" nzTheme="outline"></i>
                  </a>
                  <a (click)="delete(customer.id)" nz-button nzType="link">
                    <i nz-icon nzType="delete" nzTheme="outline"></i>
                  </a>
              </td>
            </tr>
          </tbody>
        </table>
      </nz-spin>
      </div>
      <div class="customers-list__pagination">
          <app-pagination [total]="total" [selected]="selectedPage" (onPageChange)="pageChange($event)"></app-pagination>
      </div>
    </div>
  </div>
</div>
