<div class="row gutters-sm">
  <div class="col-md-4 mb-3">    
    <app-change-pasword></app-change-pasword>
    <app-company-info></app-company-info>
  </div>
  <div class="col-md-8" id="main_content">
    <div class="row">
      <div class="col-12">
        <ul class="nav nav-pills">
          <li class="nav-item m-0 ">
            <a class="nav-link p-2" [ngClass]="{true: 'active'}[isTabSignature]" (click)="tabSettingsClick(1)"
              role="button">Chữ ký của bạn</a>
          </li>
          <li [hidden]="!permissions[pmsConf.accountManagementCreate]" class="nav-item m-0 ">
            <a class="nav-link p-2" [ngClass]="{true: 'active'}[isTabInfomation]" (click)="tabSettingsClick(2)"
              role="button">Sơ đồ tổ chức</a>
          </li>
        </ul>
      </div>
    </div>
    <hr>
    <div *ngIf="isTabSignature">
      <tab-signature [signPadOfUser]="signPadOfUsers" (delete)="delete($event)" (useDefault)="useDefault($event)"
        (changeSingPad)="openSignaturePad($event)">
      </tab-signature>
    </div>
    <div [hidden]="!permissions[pmsConf.accountManagementCreate]" *ngIf="isTabInfomation">
      <tab-information [currentUser]="currentUser"></tab-information>
    </div>
  </div>
</div>
