<div class="d-flex bd-highlight mr-2 mt-2">
    <div class="input-group bd-highlight pl-0 pt-2  pr-2" style="max-width: 300px;">
      <input type="text" class="form form-control form-control-sm" placeholder="Tìm kiếm mọi thứ về tài liệu ở đây..."
        my-enter="filterDocuments(1)" autocomplete="off">
      <div class="input-group-append ml-1">
        <span class="" id="basic-addon2">
          <button class="btn btn-sm btn-primary" placeholder="Tìm kiếm mọi thứ về tài liệu ở đây..."
            (click)="filterDocuments()" data-toggle="tooltip" title="Lấy thông tin từ tổng cục thuế">
            <i class="fa fa-search"></i>
          </button>
        </span>
      </div>
    </div>

    <div class="d-flex flex-row bd-highlight">
      <div class="pl-0 pt-2  pr-2 pb-2 bd-highlight">
        <select class="form-control form-control-sm" (change)="filterDocuments(1)" autocomplete="off">
          <option value="" selected="selected">Tất cả trạng thái</option>
        </select>
      </div>
      <div class="p-2 bd-highlight">
        <select class="form-control form-control-sm" (change)="filterDocuments(1)">
          <option value="" selected="selected">Tất cả phân loại</option>
        </select>
      </div>
      <div class="p-2 bd-highlight">
        <select class="form-control form-control-sm" (change)="TimeChange(FormSearch.TIME)">
          <option value="" selected="selected">Toàn thời gian</option>
        </select>
      </div>
      <!-- <div class="p-2 bd-highlight" *ngIf="tab.All">
        <select class="form-control form-control-sm selectpicker" id="select-country" data-live-search="true"
          data-size="5" (change)="filterDocuments(1)" tabindex="-98">
          <option value="" selected="selected">Tất cả thành viên</option>
        </select>
      </div> -->

      <div class="p-2 bd-highlight align-self-center ng-hide">
        Từ ngày: - Đến ngày:
      </div>
    </div>


    <div class=" modal ng-hide" id="modal-time-range" tabindex="-1" role="dialog" ng-hide="FormSearch.TIME != 6">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Thời gian</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-6">
                <p class="m-2">Từ ngày</p>
                <input type="date" class="w-100 form-control form-control-sm ng-valid-min ng-valid-max"
                  data-date-format="dd/MM/yyyy" id="pk_fromtime" min="2020-01-01" max="2021-06-10">
              </div>
              <div class="col-6">
                <p class="m-2">Đến ngày</p>
                <input type="date" class="w-100 form-control form-control-sm ng-valid-min ng-valid-max"
                  data-date-format="dd/MM/yyyy" id="pk_totime" min="2020-01-01" max="2021-06-10">
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" (click)="filterDocuments(1);" data-dismiss="modal">Áp
              dụng</button>
            <button type="button" class="btn btn-success" data-dismiss="modal">Đóng</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  

  