<div class="d-flex flex-column bd-highlight document-detail">
  <div class="back">
    <button class="btn btn-secondary" (click)="back()">
      <i class="fa fa-arrow-left" aria-hidden="true"></i>
      <span class="pl-1" >Quay lại</span>
    </button>
  </div>
  <hr />
  <div class="document-detail-infomation">
    <div class="document-detail-infomation__status">
      <h6 class="text-success font-weight-bold">
        <label *ngIf="documentStatus === 4">
          <i class="fa fa-check" aria-hidden="true"></i>
          <span class="pl-1">{{documentStatusView}}</span>
        </label>
        <label class="text-warning" *ngIf="documentStatus === 0">
          <i class="fa fa-pencil" aria-hidden="true"></i>
          <span class="pl-1">{{documentStatusView}}</span>
        </label>

        <label class="text-warning" *ngIf="documentStatus === 1">
          <i class="fa fa-paper-plane-o" aria-hidden="true"></i>
          <span class="pl-1">{{documentStatusView}}</span>
        </label>

        <label *ngIf="documentStatus=== 2">
          <i class="fa fa-eye" aria-hidden="true"></i>
          <span class="pl-1">{{documentStatusView}}</span>
        </label>
        <label  *ngIf="documentStatus === 3">
          <label class="text-through">
            <i class="fa fa-info-circle" aria-hidden="true"></i>
            <span class="pl-1">{{documentStatusBefore}}</span>
          </label>          
          <i class="fa fa-times text-warning" aria-hidden="true"></i>
          <span class="pl-1 text-warning">{{documentStatusView}}</span>
        </label>
        <span class="pl-1 text-dark">{{documentName}}</span>
      </h6>
    </div>
    <div class="document-detail-infomation__detail">
      <div class="document-info">
        Mã <a href="https://test-s.onfinance.asia/tra-cuu" target="_blank">tra cứu</a>:
        <span class="text-danger ng-binding">{{verifyCode}}</span>
      </div>
      <div class="document-info">
        Mã định danh:
        <span class="text-muted ng-binding">{{privateKey}}</span>
      </div>
      <div class="document-info">
        Khởi tạo lúc:
        <span class="text-info ng-binding">{{dateCreate}}</span>
      </div>
      <div class="document-info">
        Loại tài liệu:
        <span class="text-info ng-binding">{{documentTypeName}}</span>
      </div>
    </div>
  </div>

  <div class="document-detail-recipient-list">
   <app-document-detail-recipient-list
   (onDownloadDocumentFile) = "handlerDownloadDocumentFile()"
   (onRollbackDocument) = "rollbackDocument()"
   (onSendEamilNotification) = "sendEamilNotification($event)"
   (onDownloadDocumentCancel) = "downloadDocumentCancel()"
   [employeesSign] = "employeesSign"
   [documentSign] = "document"
   ></app-document-detail-recipient-list>
  </div>

  <hr />

  <div class="document-detail-sign-documents">
    <app-document-detail-sign-documents
    [filesSign] = "filesSign"
    [documentSign] = "document"
    (onViewCertificate) = "viewCertificate($event)"
    ></app-document-detail-sign-documents>
  </div>
</div>
