<div nz-row class="manage-template-documents-table">
  <div nz-col nzSpan="24">
    <h5>Danh sách tệp tin</h5>
    <div class="manage-template-documents-table__container">
      <div class="manage-template-documents-table__header">
        <div nz-row>
          <div nz-col nzSpan="12" class="manage-template-documents-table__info">
            <label>
              <span class="align-items-center ng-binding">
                {{skip}} - {{take}} trong
              </span>
              <strong>{{total}}</strong> bản ghi
            </label>
          </div>
          <div nz-col nzSpan="12" class="manage-template-documents-table__pagintion">
            <button nz-button (click)="firstPage()" nzType="link" [disabled]="selectedPage === 1">Đầu tiên</button>
            <button nz-button nzType="link" (click)="nextPage()"  [disabled]="selectedPage === numberPages">trước</button>
            <label class="pagintion-current">
              <input class="current-page" type="number" [(ngModel)]="selectedPage" />
              <span class="total-page"> / {{numberPages}}</span>
            </label>
            <button nz-button nzType="link" (click)="previousPage()" [disabled]="selectedPage === 1">Sau</button>
            <button nz-button nzType="link" (click)="lastPage()" [disabled]="selectedPage === numberPages">Cuối cùng</button>
          </div>
        </div>
      </div>
      <div class="manage-template-documents-table__table">
        <table class="table table-bordered table-vertical-center table-fixed">
          <thead>
            <tr>
              <th style="width: 50px;">STT</th>
              <th style="width: 150px;">Thời gian khởi tạo</th>               
              <th>Tệp tin</th>
              <th style="width: 160px;">Thông tin thêm</th>
              <th style="width: 280px;">Hành động</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of documentData;index as i ">
              <td class="text-center">{{i + 1}}</td>
              <td class="text-center">{{ data.dateCreate }}</td>
              <td>
                <strong class="text-primary">
                  {{ data.originFileName }}
                </strong>
              </td>
              <td>
                <div [innerHtml]="data.infomation"></div>
              </td>
              <td>
                <button nz-button nzType="link" (click)="quickView(data)" class="text-success">
                  <i class="fa fa-eye pr-1" aria-hidden="true"></i>
                  Xem nhanh tệp pdf đã tạo
                </button>

                <div class="btn-group">
                  <button type="button" class="btn-more btn-success" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false" autocomplete="off">
                    <i class="fa fa-ellipsis-v" style="font-size: 22px;color: #2CA01C;" aria-hidden="true"></i>
                  </button>
                  <div class="dropdown-menu">
                    <a class="dropdown-item">Xem chi tiết bookmarks</a>
                    <a class="dropdown-item" (click)="deleteBookmark(data, i)">Xóa</a>
                    <a class="dropdown-item" (click)="downloadTemplateBookmark(data)">Tải xuống Mẫu</a>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<nz-dropdown-menu #menu0="nzDropdownMenu">
  <ul nz-menu>
    <li nz-menu-item>Xem tài liệu liên quan</li>
    <li nz-menu-item>Xóa</li>
    <li nz-menu-item>Tải xuống mẫu</li>
    <li nz-menu-item> Tải xuống file Excel dữ liệu bookmark mẫu</li>
  </ul>
</nz-dropdown-menu>
