.d-flex {
   margin: 0px 10px !important;
 }
 
@media only screen and (max-width: 768px) {
  #table-document {
    max-width: 40em;
    max-height: 40em;
    overflow: scroll;
    position: relative;

    thead {
      th {
        position: -webkit-sticky;
        /* for Safari */
        position: sticky;
        top: 0;

        &:first-child {
          position: -webkit-sticky;
          /* for Safari */
          position: sticky;
          left: 0;
          background: #e8f8e2;
          border-right: 1px solid #CCC;
          z-index: 2;
        }
      }
    }

    tbody {
      td:first-child {
        position: -webkit-sticky;
        /* for Safari */
        position: sticky;
        left: 0;
        background: #FFF;
        border-right: 1px solid #CCC;
        z-index: 1;
      }
    }
  }
}
 