<form nz-form [formGroup]="formSearch">
<div class="d-flex bd-highlight mr-2 mt-2">
    <div class="input-group bd-highlight pl-0 pt-2  pr-2" style="max-width: 300px;">
      <input nz-input  class="form form-control form-control-sm" formControlName="keyWord" placeholder="Tìm kiếm mọi thứ về tài liệu ở đây..."
        autocomplete="off">
      <div class="input-group-append ml-1">
        <span class="" id="basic-addon2">
          <button class="btn btn-sm btn-primary" placeholder="Tìm kiếm mọi thứ về tài liệu ở đây..."
            (click)="filterDocuments()" title="Tìm kiếm">
            <i class="fa fa-search"></i>
          </button>
        </span>
      </div>
    </div>
    <div class="d-flex flex-row bd-highlight">
      <div class="p-2 bd-highlight">
        <nz-select nzShowSearch nzAllowClear 
        formControlName="status"
        nzPlaceHolder="Tất cả trạng thái">
            <nz-option [nzValue]="document.key" nzLabel="{{ document.name | translate }}" *ngFor="let document of documentStatus"></nz-option>
        </nz-select>
      </div>
      <div class="p-2 bd-highlight">
          <nz-select nzShowSearch nzAllowClear 
          formControlName="documentType"
           nzPlaceHolder="Tất cả loại tài liệu">
              <nz-option [nzValue]="document.id" [nzLabel]="document.documentName"
                *ngFor="let document of documentsType">
              </nz-option>
          </nz-select>
      </div>
      <div class="p-2 bd-highlight">
          <nz-select nzAllowClear nzPlaceHolder="Toàn thời gian"
          formControlName="dateView"
          (ngModelChange)="changeTimeView($event)">
              <nz-option [nzValue]="option.id" [nzLabel]="option.text" *ngFor="let option of timepickers.Options">
              </nz-option>
            </nz-select>
      </div>
      <div *ngIf="typeView === 6" class="p-2 bd-highlight align-self-center ng-hide">
        Từ ngày: {{dateFrom}} - Đến ngày: {{dateTo}}
      </div>
      <div class="p-1 bd-highlight" style="padding-top: 10px !important;">
        <span class="" id="basic-addon2">
          <button class="btn btn-sm btn-primary" (click)="clearSearch()" title="Reset lọc">
            Reset lọc
          </button>
        </span>
      </div>
    </div>
  </div>
</form>
  

  