::ng-deep.sign-contract-custom {
  width: 1000px !important;
  top: 10px;

  .ant-form-item-control-input-content {
    display: flex !important;
    justify-content: left !important;
  }

  .sign-contract-container {
    .ant-form-item {
      margin-bottom: 6px !important;
    }
  }

  .ant-modal-footer{
      padding: 0 !important;
  }


}

.pass-code-container {
  .show-pass {
    color: #e1e1e1;
    position: absolute;
    right: 0;
    height: 100%;
    padding-right: 10px;

    i {
      cursor: pointer;
    }
  }
}
