<div class="charts-bar-custom">
  <ngx-charts-bar-vertical
  [view]="config.view"
  [scheme]="config.scheme"
  [results]="config.results"
  [gradient]="config.gradient"
  [xAxis]="config.xAxis"
  [yAxis]="config.yAxis"
  [legend]="config.legend"
  [showXAxisLabel]="config.showXAxisLabel"
  [showYAxisLabel]="config.showYAxisLabel"
  [xAxisLabel]="config.xAxisLabel"
  [yAxisLabel]="config.yAxisLabel"
  [legendPosition]="config.legendPosition"
  [barPadding]="config.barPadding"
  [noBarWhenZero]="config.noBarWhenZero"
  [showDataLabel]="config.showDataLabel"
  [rotateXAxisTicks]="config.rotateXAxisTicks"
  (select)="onSelect($event)">
</ngx-charts-bar-vertical>
</div>


