<div nz-row class="manage-template-documents-table">
  <div nz-col nzSpan="24">
    <h5>Danh sách mẫu tài liệu</h5>
    <div class="manage-template-documents-table__container">
    <form nz-form [formGroup]="formSearch">
        <div class="d-flex bd-highlight mr-2 mt-2">
            <div class="input-group bd-highlight pl-0 pt-2  pr-2" style="max-width: 300px;">
              <input nz-input  class="form form-control form-control-sm" formControlName="keyWord" placeholder="Tìm kiếm mọi thứ về tài liệu ở đây..."
                autocomplete="off">              
            </div>
            <div class="d-flex flex-row bd-highlight">
              <div class="p-2 bd-highlight">
                  <nz-select nzShowSearch nzAllowClear 
                  formControlName="documentType"
                    nzPlaceHolder="Tất cả loại tài liệu">
                      <nz-option [nzValue]="document.id" [nzLabel]="document.documentName"
                        *ngFor="let document of documentsType">
                      </nz-option>
                  </nz-select>
              </div>
              <div class="input-group-append ml-1">
                  <span class="" id="basic-addon2">
                    <button class="btn btn-sm btn-primary" placeholder="Tìm kiếm mọi thứ về tài liệu ở đây..."
                      (click)="filterDocuments()" title="Tìm kiếm">
                      <i class="fa fa-search"></i>
                    </button>
                  </span>
                </div>
            </div>
          </div>
        </form>
      <div class="manage-template-documents-table__header">
        <div nz-row>
          <div nz-col nzSpan="12" class="manage-template-documents-table__info">
            <label>
              <span class="align-items-center ng-binding">
                {{skip}} - {{take}} trong
              </span>
              <strong>{{total}}</strong> bản ghi
            </label>
          </div>
          <div nz-col nzSpan="12" class="manage-template-documents-table__pagintion">
            <button nz-button (click)="firstPage()" nzType="link" [disabled]="selectedPage === 1">Đầu tiên</button>
            <button nz-button nzType="link" (click)="nextPage()"  [disabled]="selectedPage === numberPages">trước</button>
            <label class="pagintion-current">
              <input class="current-page" type="number" [(ngModel)]="selectedPage" />
              <span class="total-page"> / {{numberPages}}</span>
            </label>
            <button nz-button nzType="link" (click)="previousPage()" [disabled]="selectedPage === 1">Sau</button>
            <button nz-button nzType="link" (click)="lastPage()" [disabled]="selectedPage === numberPages">Cuối cùng</button>
          </div>
        </div>
      </div>
      <div class="manage-template-documents-table__table">
        <table class="table table-bordered table-vertical-center table-fixed">
          <thead>
            <tr>
              <th style="width: 50px;">STT</th>
              <th style="width: 150px;">Thời gian khởi tạo</th>
              <th style="width: 130px;">Người khởi tạo</th>
              <th>Tệp tài liệu</th>
              <th style="width: 160px;">Phân loại</th>
              <th style="width: 200px;">Thông tin thêm</th>
              <th style="width: 210px;">Hành động</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of documents;index as i ">
              <td class="text-center">{{i + 1}}</td>
              <td class="text-center">{{ data.dateCreate }}</td>
              <td class="text-center">Bạn</td>
              <td>
                <strong class="text-primary">
                  {{ data.originFileName }}
                </strong>
              </td>
              <td>
                  {{ data.documentTypeName }}
              </td>
              <td>
                <div>
                  Kích thước tệp : <strong>{{data.fileSize}}</strong> KB<br/>
                  Tổng số trang : <strong>{{data.numberPages}}</strong> <br/>
                  Tổng số vị trí ký : <strong>{{data.numberSign}}</strong> <br/>
                </div>
              </td>
              <td style="text-align: right;">
                <button [hidden]="!roles.uploadExcel"  nz-button nzType="link" (click)="viewDetail(data)" class="text-success">
                  <i class="fa fa-files-o pr-1" aria-hidden="true"></i>
                  Tệp tin đã tạo
                </button>

                <div class="btn-group">
                  <button type="button" class="btn-more btn-success" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false" autocomplete="off">
                    <i class="fa fa-ellipsis-v" style="font-size: 22px;color: #2CA01C;" aria-hidden="true"></i>
                  </button>
                  <div class="dropdown-menu">
                    <a [hidden]="!roles.uploadWork" class="dropdown-item" (click)="editDocumentTemplate(data)">Cài đặt thông tin người nhận</a>
                    <a [hidden]="!roles.uploadWork" class="dropdown-item" (click)="delete(data, i)">Xóa</a>
                    <a class="dropdown-item" (click)="downloadTemplate(data)">Tải xuống Mẫu</a>
                    <a class="dropdown-item" (click)="downloadBookmark(data)">Tải xuống file Excel dữ liệu bookmark mẫu</a>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>