<div nz-row class="sign-documents">
  <div nz-col [nzSpan]="24" class="sign-documents-table">
    <h6 class="text-primary">
      Thứ tự ký tài liệu:
      <small class="ng-binding">(gồm có {{numberDocument}} tài liệu)</small>
    </h6>
    <table class="table table-bordered table-vertical-center table-fixed table-striped">
      <thead>
        <tr>
          <th class="text-center">Tệp tài liệu</th>
          <th class="text-center">Người nhận</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of filesSign">
          <td class="text-left">{{ data.fileName }}</td>
          <td>
            <table class="table table-bordered table-vertical-center table-fixed table-striped">
              <tbody>
                <tr *ngFor="let employeesSign of data.employeesSignDetail">
                  <td>
                    <strong>
                      {{ employeesSign.groupName }}
                    </strong>
                    <br>
                    <small> {{ employeesSign.email }}</small>

                    <br>
                    <span class="text-info font-italic">
                      Bao gồm <strong> {{ employeesSign.employeesSignDetail.length }}</strong> chữ ký
                    </span>
                  </td>
                  <td>
                    <table class="table-sign-data table table-bordered table-vertical-center table-fixed table-striped">
                      <thead class="text-center">
                        <tr>
                          <th style="width: 226px;">Thứ tự</th>
                          <th style="width: 240px;">Vị trí ký</th>
                          <th style="width: 120px;">Trạng thái</th>
                          <th>Hoạt động sau cùng</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let signData of employeesSign.employeesSignDetail">
                          <td>
                            <span>
                              Thứ tự:
                              <strong class="text-danger ng-binding">{{ signData.signIndex }}</strong>
                            </span>
                            <br />
                            <span *ngIf="!signData.isApprove">
                              Ký bằng:
                              <strong class="text-danger">
                                <span>{{ signTypeView[signData.signType] | translate }} </span>
                              </strong>
                              <br />
                            </span>
                            <span>
                              Vai trò:
                              <strong class="text-danger">
                                <span>{{ roleAction[signData.isApprove] | translate }}</span>
                              </strong>
                            </span>
                          </td>
                          <td>
                            <span *ngIf="!signData.isApprove">
                              Trang ký: <strong>{{ signData.page }}</strong>
                            </span>
                            <br />
                            <span *ngIf="!signData.isApprove">
                              <small class="font-italic">
                                Tọa độ chữ ký theo x, y: {{ signData.coordinateX }},
                                {{ signData.coordinateY }}
                              </small>
                            </span>
                          </td>
                          <td class="text-center">
                            <i class="text-success fa fa-check ng-scope" *ngIf="signData.statusAction === 1"></i>
                            <div *ngIf="!signData.statusAction">
                                <strong class="text-danger" *ngIf="!signData.signed">
                                  <span *ngIf="!signData.isApprove">Chờ ký</span>
                                  <span *ngIf="signData.isApprove">Chờ duyệt</span>
                                </strong>
                            </div>
                            <div *ngIf="signData.statusAction === 2">
                                <strong class="text-danger">
                                  <span *ngIf="!signData.isApprove">Từ chối ký</span>
                                  <span *ngIf="signData.isApprove">Từ chối duyệt</span>
                               </strong>
                            </div>
                          </td>
                          <td class="text-center">
                            <div>
                              <button *ngIf="signData.signed" (click)="viewCertificate(signData)" class="btn btn-success">
                                <i class="fa fa-eye pr-1" aria-hidden="true"></i>
                                Xem chi tiết
                              </button>
                              <br />                              
                              {{ signData.lastAccessedTime }}
                              <p> {{ signData.message }}</p>
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
