<div class="contract-authentication">
  <div class="contract-authentication-process-s1">
    <div class="header d-flex">
      <div class="icon d-flex align-items-center">
        <i class="fa fa-check-square-o" aria-hidden="true"></i>
      </div>
      <div class="title">
        <h2>Xác thực hợp đồng</h2>
        <p>Công cụ kiểm tra chữ ký điện tử trên hợp đồng và toàn vẹn của hợp đồng điện tử được ký trên Hệ thống Hợp Đồng
          Điện Tử</p>
      </div>
    </div>
    <app-contract-authentication-process-s1 (onChangeFile)="changeFile($event)"></app-contract-authentication-process-s1>
  </div>
</div>
