.col-auto {
  margin-bottom: 15px !important;
}
.selected_item {
  border-color: #dc3545!important;
  background-color: #efeded;
}

.card-body {
  padding: 0.5rem !important;
}
.container-foreign {
  .ant-select {
    background-color: #fff;
    border: 1px solid #386fdc;
    border-radius: 4px;
  }
}
.methodSign {
  width: 100%;
  .ant-select {
    width: 100%;
    background-color: #fff;
    border: 1px solid #386fdc;
    border-radius: 4px;
  }
  .note {
    text-align: left;
    color: red !important;
    font-size: 12px;
  }
}
