<div nz-row class="manage-template-documents__drag">
    <div nz-col nzSpan="24">
      <h5>Thêm mẫu tài liệu mới</h5>
      <nz-upload nzType="drag" [nzMultiple]="true" (nzChange)="handleChange($event)">
        <p class="pb-2">
          <img src="../../../../../assets/img/file-plus.svg" height="60">
        </p>
        <div class="pb-1">
          <button nz-button nzType="default" class="btn-success">Nhấn vào đây để duyệt</button>
        </div>
        <p class="ant-upload-hint">
          <span class="text-danger"> * </span> Định dạng được hỗ trợ: .docx </p>
      </nz-upload>
    </div>
  </div>