<div class="manage-template-documents__drag loader-data">
  <div class="row">
    <div class="col-12 pb-2">
      <div class="d-flex flex-row bd-highlight align-content-stretch flex-wrap">
        <button class="btn btn-secondary" autocomplete="off" (click)="goBack()">
          <i class="fa fa-arrow-left" aria-hidden="true"></i>
          Quay lại (Import dữ liệu mới)
        </button>

        <button class="btn btn-success ml-auto p-2" autocomplete="off" (click)="nextStep()">
          Tiếp tục
        </button>
      </div>
    </div>
  </div>

  <div class="row pb-3">
    <div class="col ng-binding">
      <i class="fa fa-file-word-o text-primary" aria-hidden="true"></i>&nbsp;Mẫu đang sử dụng <span
        class="text-danger">B1_HD Mẫu.docx</span>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="d-flex flex-row bd-highlight">
        <div class="bd-highlight">
          <h5 class="font-weight-bold">Bước 2: Chỉnh sửa thông tin đã import</h5>
        </div>
      </div>

    </div>
  </div>

  <div class="row mt-1">
    <div class="col-12">
      <div class="bg-white border rounded p-2">
        <div nz-row class="manage-template-documents-table table-import">
          <div nz-col nzSpan="24">
            <div class="manage-template-documents-table__container">
              <div class="manage-template-documents-table__header">
                <div nz-row>
                  <div nz-col nzSpan="12" class="manage-template-documents-table__info">
                    <label>
                      <span class="align-items-center ng-binding">
                        1 - 1 trong
                      </span>
                      <strong>1</strong> bản ghi
                    </label>
                  </div>
                  <div nz-col nzSpan="12" class="manage-template-documents-table__pagintion">
                    <button nz-button nzType="link" [disabled]="currentPage===1">Đầu tiên</button>
                    <button nz-button nzType="link" [disabled]="currentPage===1">Sau</button>
                    <label class="pagintion-current">
                      <input class="current-page" type="number" [(ngModel)]="currentPage" />
                      <span class="total-page"> / 1</span>
                    </label>
                    <button nz-button nzType="link" [disabled]="currentPage===7">Sau</button>
                    <button nz-button nzType="link" [disabled]="currentPage===7">Cuối cùng</button>
                  </div>
                </div>
              </div>
              <div class="manage-template-documents-table__table">
                <table class="table table-bordered table-vertical-center table-fixed">
                  <thead>
                    <tr>
                      <th rowspan="2" style="width: 5%; vertical-align : middle">STT</th>
                      <th rowspan="2" style="width: 15%; vertical-align : middle">Tên tài liệu</th>
                      <th colspan="17" style="width: 65%">Dữ liệu bookmark</th>
                      <th rowspan="2" style="width: 15%; vertical-align : middle">Hành động</th>
                    </tr>
                    <tr>
                      <th class="text-center">Chinhanh</th>
                      <th class="text-center">Chucvu</th>
                      <th class="text-center">CMND</th>
                      <th class="text-center">Hovaten2</th>
                      <th class="text-center">Diachi</th>
                      <th class="text-center">Hovaten</th>
                      <th class="text-center">Ngaycap</th>
                      <th class="text-center">Denngay</th>
                      <th class="text-center">Luong</th>
                      <th class="text-center">Hieuluc</th>
                      <th class="text-center">H</th>
                      <th class="text-center">Gioitinh</th>
                      <th class="text-center">Loaihopdong</th>
                      <th class="text-center">SoHD</th>
                      <th class="text-center">Tungay</th>
                      <th class="text-center">Ngaysinh</th>
                      <th class="text-center">Noicap</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let data of datas">
                      <td class="text-center">
                        <input type="text" [(ngModel)]="data.stt" />
                      </td>

                      <td class="text-center">
                        <input type="text" class="mw-300" [(ngModel)]="data.fileName" />
                      </td>

                      <td class="text-center">
                        <input type="text" class="mw-150" [(ngModel)]="data.chinhanh" />
                      </td>

                      <td class="text-center">
                        <input type="text" class="mw-150" [(ngModel)]="data.chucvu" />
                      </td>

                      <td class="text-center">
                        <input type="text" class="mw-150" [(ngModel)]="data.cmnd" />
                      </td>

                      <td class="text-center">
                        <input type="text" class="mw-150" [(ngModel)]="data.hovaten2" />
                      </td>

                      <td class="text-center">
                        <input type="text" class="mw-150" [(ngModel)]="data.diachi" />
                      </td>

                      <td class="text-center">
                        <input type="text" class="mw-150" [(ngModel)]="data.hovaten" />
                      </td>

                      <td class="text-center">
                        <input type="text" class="mw-150" [(ngModel)]="data.ngaycap" />
                      </td>

                      <td class="text-center">
                        <input type="text" class="mw-150" [(ngModel)]="data.denngay" />
                      </td>

                      <td class="text-center">
                        <input type="text" class="mw-150" [(ngModel)]="data.luong" />
                      </td>

                      <td class="text-center">
                        <input type="text" class="mw-150" [(ngModel)]="data.hieuluc" />
                      </td>

                      <td class="text-center">
                        <input type="text" class="mw-150" [(ngModel)]="data.h" />
                      </td>

                      <td class="text-center">
                        <input type="text" class="mw-150" [(ngModel)]="data.gioitinh" />
                      </td>

                      <td class="text-center">
                        <input type="text" class="mw-150" [(ngModel)]="data.loaihopdong" />
                      </td>

                      <td class="text-center">
                        <input type="text" class="mw-150" [(ngModel)]="data.sohd" />
                      </td>

                      <td class="text-center">
                        <input type="text" class="mw-150" [(ngModel)]="data.tungay" />
                      </td>

                      <td class="text-center">
                        <input type="text" class="mw-150" [(ngModel)]="data.ngaysinh" />
                      </td>

                      <td class="text-center">
                        <input type="text" class="mw-150" [(ngModel)]="data.noicap" />
                      </td>

                      <td>
                        <button type="button" class="btn btn-link btn-sm ng-binding" style="color: black"
                          autocomplete="off">
                          <i class="fa fa-remove" style="margin-top: 3px; color: black;"></i>&nbsp;Xóa
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

        </div>


      </div>
    </div>
  </div>
</div>
