<div class="manage-template-documents__drag loader-data">
  <div class="row">
    <div class="col-12 pb-2">
      <div class="d-flex flex-row bd-highlight align-content-stretch flex-wrap">
        <button class="btn btn-secondary" autocomplete="off" (click)="goBack()">
          <i class="fa fa-arrow-left" aria-hidden="true"></i>
          Quản lý tệp tài liệu đã tạo
        </button>

        <button class="btn btn-secondary ml-auto p-2" autocomplete="off" (click)="goBack()">
          Import dữ liệu mới
        </button>
      </div>
    </div>
  </div>

  <div class="row pb-3">
    <div class="col ng-binding">
      <i class="fa fa-file-word-o text-primary" aria-hidden="true"></i>&nbsp;Mẫu đang sử dụng <span
        class="text-danger">{{documentTemplate.originFileName}}</span>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="d-flex flex-row bd-highlight">
        <div class="bd-highlight">
          <h5 class="font-weight-bold">Tiến trình tạo tệp tài liệu</h5>
        </div>
      </div>

    </div>
  </div>

  <div class="mt-1 border p-3 bg-white">
    <div class="col-12">
      <div class="d-flex bd-highlight">
        <div class="p-2 flex-grow-1 bd-highlight">
          <span>
            Đã tạo <strong>1</strong>/<strong>1</strong>
          </span>
        </div>
        <div class="p-2">
          <button class="btn btn-sm btn-success ng-binding">
            <i class="fa fa-users" aria-hidden="true"></i>
            Tạo hàng loạt người nhận
          </button>
        </div>
      </div>
    </div>

      <div class="form-group mb-2 mt-2 border-top p-2" *ngFor="let data of documentTemplate.documentData;index as i" >
        <div class="form-row m-0">
          <p class="col-10 pb-0 mb-0">{{data.recordUpLoad}} - {{data.originFileName}}</p>
        </div>
        <div class="form-row">
            <div class="col align-self-center">
              <div class="progress progress-bar w-100"></div>
            </div>
            <div class="">
                <button  (click)="quickView(data)" class="btn btn-sm btn-success f-right">
                  <i class="fa fa-eye" aria-hidden="true"></i>
                  &nbsp;Xem nhanh
                </button>
            </div>
        </div>
      <div>

      <span style="color: #949191; font-size: 12px;">
        <img src="../../../../../../assets/img/check.png" width="16">
        Hoàn thành
      </span>
    </div>
    </div>
  </div>
</div>
