<div class="page-container">
  <form nz-form [formGroup]="formCustomer" class="companyAgencies-form">
    <nz-spin [nzSpinning]="isSpinning" class="page-company__main__spinning">
      <div class="page-customer">   
          <div nz-row nzGutter="10">
              <div nz-col [nzSpan]="12" style="padding-bottom: 5px;">
                <nz-form-item>
                    <nz-radio-group (ngModelChange)="changeCustomerType($event)" formControlName ="customerType">
                      <label nz-radio [nzValue]=1>Doanh nghiệp</label>
                      <label nz-radio [nzValue]=2>Cá nhân</label>
                    </nz-radio-group>
                </nz-form-item>
              </div>  
          </div>
        <!-- Start row   -->
          <div *ngIf="customerType === 1" nz-row nzGutter="10">
            <div nz-col [nzSpan]="12">
              <nz-form-item>
                <nz-form-label class="text-left" nz-col nzFlex="120px">Mã số thuế &nbsp; <span
                    class="text-danger">*</span>
                </nz-form-label>
                <nz-form-control nz-col nzFlex="auto" [nzErrorTip]="taxtpl" class="imput-margin-left">
                  <nz-input-group nzSearch [nzAddOnAfter]="suffixButton">
                    <input type="text" formControlName="taxCode" nz-input placeholder="Mã số thuế" />
                  </nz-input-group>
                  <ng-template #taxtpl let-control>
                    <ng-container *ngIf="control.hasError('required')">
                      Mã số thuế không để trống
                    </ng-container>
                    <ng-container *ngIf="control.hasError('maxlength')">
                      Mã số thuế tối đa 50 ký tự
                    </ng-container>
                  </ng-template>
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>
        <!-- End row   -->
        <!-- Start row   -->
        <div nz-row nzGutter="10">
            <div nz-col [nzSpan]="customerType === 1 ? 24 : 14">
              <nz-form-item>
                <nz-form-label class="text-left mr-2px" nz-col nzFlex="120px">
                  Tên khách hàng &nbsp; <span class="text-danger">*</span></nz-form-label>
                <nz-form-control nz-col nzFlex="auto" [nzErrorTip]="companyNameTpl">
                  <input nz-input placeholder="Tên khách hàng" formControlName="customerName" />
                  <ng-template #companyNameTpl let-control>
                    <ng-container *ngIf="control.hasError('required')">
                        Tên khách hàng không để trống
                    </ng-container>
                  </ng-template>
                </nz-form-control>
              </nz-form-item>
            </div><!-- col -->
            <div nz-col  [nzSpan]="10" *ngIf="customerType !== 1">
                <nz-form-item>
                  <nz-form-label class="text-left" nz-col nzFlex="120px">
                    CMND/Căn cước</nz-form-label>
                  <nz-form-control nz-col nzFlex="auto" [nzErrorTip]="identityCardTpl" class="item-left-2">
                    <input nz-input placeholder="CMND/Căn cước" formControlName="identityCard" />
                    <ng-template #identityCardTpl let-control>
                        <ng-container *ngIf="control.hasError('required')">
                            CMND/Căn cước không được để trống
                        </ng-container>
                      </ng-template>
                  </nz-form-control>
                </nz-form-item>
            </div>
          </div>
        <!-- End row   -->
        <!-- Start row   -->
        <div nz-row nzGutter="10" style="padding-bottom: 8px;">
            <div nz-col [nzSpan]="24">
              <nz-form-item>
                <nz-form-label class="text-left mr-2px" nz-col nzFlex="120px">
                  Địa chỉ &nbsp; <span class="text-danger">*</span></nz-form-label>
                <nz-form-control nz-col nzFlex="auto" [nzErrorTip]="addressTpl">
                  <textarea nz-input placeholder="Địa chỉ" formControlName="address"></textarea>
                  <ng-template #addressTpl let-control>
                    <ng-container *ngIf="control.hasError('required')">
                      Địa chỉ không để trống
                    </ng-container>
                  </ng-template>
                </nz-form-control>
              </nz-form-item>
            </div><!-- col -->
          </div>
        <!-- End row   -->
        <!-- Start row   -->
        <div nz-row nzGutter="10">
            <div nz-col [nzSpan]="14">
              <nz-form-item>
                <nz-form-label class="text-left" nz-col nzFlex="120px">
                  Địa chỉ email</nz-form-label>
                <nz-form-control nz-col nzFlex="auto" [nzErrorTip]="delegateTpl" class="item-left-2">
                  <input nz-input placeholder="Địa chỉ email" formControlName="email" />
                  <ng-template #delegateTpl let-control>
                    <ng-container *ngIf="control.hasError('pattern')">
                      Email không đúng định dạng
                    </ng-container>
                  </ng-template>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col [nzSpan]="10">
              <nz-form-item>
                <nz-form-label class="text-left" nz-col nzFlex="120px">
                  Điện thoại</nz-form-label>
                <nz-form-control nz-col nzFlex="auto" [nzErrorTip]="telTpl" class="item-left-2">
                  <input nz-input placeholder="Số điện thoại" formControlName="mobile" />
                  <ng-template #telTpl let-control>
                    <ng-container *ngIf="control.hasError('pattern')">
                      Số điện thoại không hợp lệ
                    </ng-container>
                  </ng-template>
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>
        <!-- End row   -->
        <!-- Start row   -->
        <div nz-row nzGutter="10"  *ngIf="customerType === 1">
            <div nz-col [nzSpan]="14">
              <nz-form-item>
                <nz-form-label class="text-left" nz-col nzFlex="120px">
                  Người đại diện</nz-form-label>
                <nz-form-control nz-col nzFlex="auto" [nzErrorTip]="delegateTpl" class="item-left-2">
                  <input nz-input placeholder="Người đại diện" formControlName="delegate" />
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col [nzSpan]="10">
              <nz-form-item>
                <nz-form-label class="text-left" nz-col nzFlex="120px">
                  Chức danh</nz-form-label>
                <nz-form-control nz-col nzFlex="auto" [nzErrorTip]="levelTpl" class="item-left-2">
                  <input nz-input placeholder="Chức danh" formControlName="position" />
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>
        <!-- End row   -->
        <!-- Start row   -->
        <div nz-row nzGutter="10">
            <div nz-col [nzSpan]="14">
              <nz-form-item>
                <nz-form-label class="text-left" nz-col nzFlex="120px">
                  Ngân hàng</nz-form-label>
                <nz-form-control nz-col nzFlex="auto" [nzErrorTip]="delegateTpl" class="item-left-2">
                  <input nz-input placeholder="Ngân hàng" formControlName="bankName" />
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col [nzSpan]="10">
              <nz-form-item>
                <nz-form-label class="text-left" nz-col nzFlex="120px">
                  Số tài khoản</nz-form-label>
                <nz-form-control nz-col nzFlex="auto" [nzErrorTip]="levelTpl" class="item-left-2">
                  <input nz-input placeholder="Số tài khoản" formControlName="bankAccount" />
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>
        <!-- End row   -->
        
      </div>
    </nz-spin>
  </form>
</div>
  <div class="igning-stream-form__footer" *nzModalFooter>
    <button nz-button (click)="dismiss()" nzType="default">
      <i nz-icon nzType="stop"></i>Hủy
    </button>
    <button nz-button nzType="default" (click)="save()" class="btn-success">
      <i nz-icon nzType="save"></i>Lưu
    </button>
  </div>      