<div class="app align-content-stretch d-flex flex-wrap">
    <div class="app-container">
        <div class="app-content">
            <div class="content-wrapper">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="card">
                                <div class="card-header col-12 d-flex">
                                    <div class="col-11">
                                        <h5 class="card-title">Cấu hình gửi Email</h5>
                                    </div>
                                    <div class="col-1">
                                        <button class="btn">X</button>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="example-container">
                                        <div class="example-content">
                                            <form class="row g-3 ">
                                                <div class="col-12 d-flex">
                                                    <div class="col-md-3 fix-text-title">
                                                        <span class="form-label">Tên máy chủ<span style="color:red">
                                                                *</span></span>
                                                    </div>
                                                    <div class="col-md-8">
                                                        <select id="inputState" class="form-select">
                                                            <option selected>Choose...</option>
                                                            <option>...</option>
                                                        </select>
                                                    </div>
                                                </div>

                                                <div class="col-12 d-flex">
                                                    <div class="col-md-3 fix-text-title">
                                                        <span class="form-label">Địa chỉ máy chủ<span style="color:red">
                                                                *</span></span>
                                                    </div>
                                                    <div class="col-md-8">
                                                        <input type="email" class="form-control" id="inputEmail4">
                                                    </div>
                                                </div>

                                                <div class="col-12 d-flex">
                                                    <div class="col-md-3 fix-text-title">
                                                        <span class="form-label">Cổng kết nối<span style="color:red">
                                                                *</span></span>
                                                    </div>
                                                    <div class="col-md-5">
                                                        <input type="email" class="form-control" id="inputEmail4">
                                                    </div>
                                                    <div class="col-md-4 form-check fix-text-title">
                                                        <input class="form-check-input" type="checkbox" id="gridCheck">
                                                        <label class="form-check-label" for="gridCheck">
                                                            Sử dụng SSL
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="col-12 d-flex">
                                                    <div class="col-md-3 fix-text-title">
                                                        <span class="form-label">Tài khoản Email<span style="color:red">
                                                                *</span></span>
                                                    </div>
                                                    <div class="col-md-8">
                                                        <input type="email" class="form-control" id="inputEmail4">
                                                    </div>
                                                </div>
                                                <div class="col-12 d-flex">
                                                    <div class="col-md-3 fix-text-title">
                                                        <span class="form-label">Mật khẩu<span style="color:red">
                                                                *</span></span>
                                                    </div>
                                                    <div class="col-md-8">
                                                        <input type="password" class="form-control" id="inputPassword4">
                                                    </div>
                                                </div>
                                                <div class="col-12 d-flex">
                                                    <div class="col-md-3 fix-text-title">
                                                        <span class="form-label">Địa chỉ email gửi đi<span
                                                                style="color:red"> *</span></span>
                                                    </div>
                                                    <div class="col-md-8">
                                                        <input type="email" class="form-control" id="inputEmail4">
                                                        <!-- </select> -->
                                                    </div>
                                                </div>
                                                <div class="col-12 d-flex">
                                                    <div class="col-md-3 fix-text-title">
                                                        <span class="form-label">Địa chỉ Email nhận CC</span>
                                                    </div>
                                                    <div class="col-md-8">
                                                        <input type="email" class="form-control" id="inputEmail4">
                                                    </div>
                                                </div>
                                                <div class="col-12 d-flex">
                                                    <div class="col-md-3 fix-text-title">
                                                        <span class="form-label">Tùy chọn<span style="color:red">
                                                                *</span></span>
                                                    </div>
                                                    <div class="col-md-4 form-check">
                                                        <input class="form-check-input" type="checkbox" id="gridCheck">
                                                        <label class="form-check-label" for="gridCheck">
                                                            Sử dụng SSL
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="col-12 d-flex">
                                                    <div class="col-11">
                                                        <button type="submit" class="btn btn-light"><i
                                                                class="fa fa-times" aria-hidden="true"></i>Đóng</button>
                                                    </div>
                                                    <div class="col-1 ">
                                                        <button type="submit" class="btn btn-primary"><i
                                                                class="fa fa-floppy-o"
                                                                aria-hidden="true"></i>Ghi</button>
                                                    </div>

                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>