<form nz-form [formGroup]="inviteForm">
    <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="fullName" nzRequired>
            <span>Họ và tên</span>
        </nz-form-label>
        <nz-form-control [nzSm]="18" [nzXs]="24" nzErrorTip="Vui lòng nhập họ và tên!">
            <input nz-input id="fullName" formControlName="fullName" />
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="email">E-mail</nz-form-label>
        <nz-form-control [nzSm]="18" [nzXs]="24" nzErrorTip="Email không hợp lệ!">
            <input nz-input formControlName="email" id="email" />
        </nz-form-control>
    </nz-form-item>
    <nz-form-item nz-row class="invite-area">
        <nz-form-control [nzSpan]="18" [nzOffset]="6">
            <label nz-checkbox formControlName="active">
                <span> Hoạt động </span> <span class="text-danger" style="font-size: 12px;">(Bỏ tích nếu tài khoản không
                    còn là
                    thành viên)</span>
            </label>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item nz-row class="invite-area">
        <nz-form-control [nzSpan]="18" [nzOffset]="6">
            <label nz-checkbox formControlName="usingHSM">
                <span> Được sử dụng HSM không? </span> <span class="text-danger" style="font-size: 12px;">(Tích vào nếu
                    bạn cho
                    phép)</span>
            </label>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item nz-row class="invite-area">
        <nz-form-control [nzSpan]="14" [nzOffset]="6">
            <button nz-button (click)="closeModal()" style="margin-right: 5px;">Đóng</button>
            <button nz-button (click)="inviteEmployee()" nzType="primary">Gủi lời mời</button>
        </nz-form-control>
    </nz-form-item>
</form>