<div class="invite-employee-content">
  <div class="wapper_collapse">
      <nz-collapse>
          <nz-collapse-panel
            [nzHeader]="accountInfo"
            nzActive ="true"
            nzDisabled ="false">
            <ng-template #accountInfo>
             <div class="collapseHeader">Thông tin người dùng</div>
            </ng-template>

            <form nz-form [formGroup]="form">
                <div nz-row>
                    <div nz-col nzSpan="11">
                      <nz-form-item>
                        <nz-form-control class="margin-left-1p" [nzSpan]="24" [nzErrorTip]="errorEmail">
                          <nz-input-group [nzAddOnBefore]="addOnBeforeTemplateEmail">
                            <input type="text" nz-input nz-input formControlName="email" />
                            <ng-template #addOnBeforeTemplateEmail>
                              <label class="mb-0">Email <span class="text-danger"> * </span></label>
                            </ng-template>           
                          </nz-input-group>
                          <ng-template #errorEmail let-control>
                              <ng-container *ngIf="control.hasError('required')">
                                  Email không được để trống
                              </ng-container>
                              <ng-container *ngIf="control.hasError('pattern')">
                                  Email không hợp lệ
                              </ng-container>
                              <ng-container *ngIf="control.hasError('emailAccount')">
                                Email email đã tồn tại trong hệ thống
                             </ng-container>
                          </ng-template>
                        </nz-form-control>
                      </nz-form-item>
                    </div>                  
                   <div nz-col nzSpan="2"></div>
                   <div nz-col nzSpan="11">
                      <nz-form-item>
                        <nz-form-control class="margin-left-1p" [nzSpan]="24" [nzErrorTip]="errorUserName">
                          <nz-input-group [nzAddOnBefore]="addOnBeforeTemplateAccount">
                            <input type="text" nz-input formControlName="loginId"/>
                            <ng-template #addOnBeforeTemplateAccount>
                              <label class="mb-0">Tên đăg nhập <span class="text-danger"> * </span></label>
                            </ng-template>            
                          </nz-input-group>
                          <ng-template #errorUserName let-control>
                              <ng-container *ngIf="control.hasError('required')">
                                  Tên đăg nhập không được để trông
                              </ng-container>
                              <ng-container *ngIf="control.hasError('userAccount')">
                                  Tên đăng nhập đã tồn tại trong hệ thống
                              </ng-container>
                          </ng-template>
                        </nz-form-control>
                      </nz-form-item>
                    </div>
                </div>
                <!-- End row -->
                <div nz-row>
                    <div nz-col nzSpan="11">
                      <nz-form-item>
                        <nz-form-control class="margin-left-1p" [nzSpan]="24" [nzErrorTip]="errorFullName">
                          <nz-input-group [nzAddOnBefore]="addOnBeforeTemplateFullName">
                            <input type="text" nz-input nz-input formControlName="name" />
                            <ng-template #addOnBeforeTemplateFullName>
                              <label class="mb-0">Họ và tên <span class="text-danger"> * </span></label>
                            </ng-template>           
                          </nz-input-group>
                          <ng-template #errorFullName let-control>
                              <ng-container *ngIf="control.hasError('required')">
                                  Họ và tên không được để trống
                              </ng-container>
                          </ng-template>
                        </nz-form-control>
                      </nz-form-item>
                    </div>                  
                   <div nz-col nzSpan="2"></div>
                   <div nz-col nzSpan="11">
                      <nz-form-item>
                          <nz-form-label class="text-left">
                            Loại người dùng</nz-form-label>
                            <nz-radio-group  (ngModelChange)="changeRoleLevel($event);" formControlName="roleLevel" nzName="radiogroup">
                                <label nz-radio nzValue="CUSTOMER">Admin</label>
                                <label nz-radio nzValue="CLIENT">Khách hàng</label>
                            </nz-radio-group>
                        </nz-form-item>
                        
                   </div>
                </div>
                 <!-- End row -->
                 <div nz-row>
                    <div nz-col nzSpan="11">
                      <nz-form-item>
                        <nz-form-control class="margin-left-1p" [nzSpan]="24" [nzErrorTip]="errorMobile">
                          <nz-input-group [nzAddOnBefore]="addOnBeforeTemplateMobile">
                            <input type="text" nz-input nz-input formControlName="mobile" />
                            <ng-template #addOnBeforeTemplateMobile>
                              <label class="mb-0">Số điện thoại <span class="text-danger"> * </span></label>
                            </ng-template>           
                          </nz-input-group>
                          <ng-template #errorMobile let-control>
                              <ng-container *ngIf="control.hasError('required')">
                                  Số điện thoại không được để trống
                              </ng-container>
                          </ng-template>
                        </nz-form-control>
                      </nz-form-item>
                    </div>                  
                   <div nz-col nzSpan="2"></div>
                   <div nz-col nzSpan="11">
                   </div>
                </div>
                <!-- End row -->
                <div nz-row>
                    <div nz-col nzSpan="24">
                        <nz-form-item>
                            <nz-form-control nz-col class="item-left-2">
                              <textarea nz-input placeholder="Mô tả" formControlName="description"></textarea>
                            </nz-form-control>
                          </nz-form-item>
                    </div>                  
                </div>
              </form>
          </nz-collapse-panel>
          <nz-collapse-panel
            [nzHeader]="tabPemission"
            nzActive ="false"
            nzDisabled ="false">
            <ng-template #tabPemission>
                <div class="collapseHeader">Phân quyền</div>
            </ng-template>
            <!-- <div class="invite-employee-company">
                <div class="invite-employee-company-header widget-header" (click)="toggleCompany()">
                  <span>
                    <i *ngIf="!showCompany" class="fa fa-arrow-right pr-1 d-inline"></i>
                    <i *ngIf="showCompany" class="fa fa-arrow-down pr-1 d-inline"></i>
                    Chọn đơn vị:
                  </span>
                </div>
                <div *ngIf="showCompany" class="invite-employee-company-table">
                  <table class="table table-bordered">
                    <tbody>
                      <tr>
                        <td>
                          <div class="form-check">
                            <input class="form-check-input check-custom" type="checkbox" [(ngModel)]="isEmployeeOfCompany">
                            <label class="form-check-label pl-1" for="flexCheckDefault">
                              {{currentUser.company.taxCode}}
                            </label>
                          </div>
                          <!-- <label class="company-checkbox" nz-checkbox [(ngModel)]="checked">0109403896</label> -->
                        <!-- </td>
                        <td>{{currentUser.company.name}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div> -->  
              
            <div class="invite-employee-permission">
                <div class="invite-employee-permission-header widget-header">
                  <span>Phân quyền cho người dùng:</span>
                </div>
                <div class="invite-employee-permission-table">
                  <table class="table table-bordered table-hover">
                    <!-- <thead>
                      <tr>
                        <th style="width: 90%;">Danh sách quyền</th>
                        <th style="width: 10%;">{{currentUser.company.taxCode}}</th>
                      </tr>
                    </thead> -->
                    <tbody>
                      <ng-container *ngFor="let data of roles">
                        <tr class="td-parent">
                          <td (click)="togglePermission(data)">
                            <span>
                              <i *ngIf="!(data.expan)" class="fa fa-arrow-right pr-1 d-inline"></i>
                              <i *ngIf="(data.expan)" class="fa fa-arrow-down pr-1 d-inline"></i>
                              {{ data.detailFunction }}
                            </span>
                          </td>
                          <td> <input class="check-custom" type="checkbox" [(ngModel)]="data.check" name="permission-{{ data.id }}"
                              (click)="parentCheck($event, data)" />
                          </td>
                        </tr>
                        <ng-template [ngIf]="togglePermissionChildren(data)">
                          <tr *ngFor="let children of data.childrens;index as i" class="td-children">
                            <td class="td-children-title">{{ children.detailFunction }}</td>
                            <td> <input class="check-custom" type="checkbox" [(ngModel)]="children.check"
                                name="permission-{{ data.id }}-{{ children.id }}"
                                (click)="childrenCheck($event, data.id, children.id)" /></td>
                          </tr>
                        </ng-template>
                      </ng-container>
                    </tbody>
                  </table>
                </div>
              </div>
          </nz-collapse-panel>
        </nz-collapse>  
  </div>
  <div class="invite-employee-footer">
    <div class="d-flex bd-highlight justify-content-end">
      <button type="button" class="btn btn-secondary mr-1" (click)="closeModal()">
        <span class="fa fa-times"></span> Đóng
      </button>
      <button type="button" class="btn btn-success" (click)="save()">
        <span class="fa fa-paper-plane-o"></span>&nbsp; {{lableSave}}
      </button>
    </div>
  </div>
</div>