<div class="card mt-3 mb-3">
    <div class="card-body">
      <div class="row">
          <div class="col-sm-12">
            <h6 class="mb-0">
              Mã số thuế:
              <span class="text-secondary ng-binding">
                {{currentUser.company.taxCode}}
              </span>
            </h6>
          </div>
        </div>
      <hr>
      <div class="row">
          <div class="col-sm-12">
            <h6 class="mb-0">
              Công ty:
              <span class="text-secondary ng-binding">
                {{currentUser.company.name}}
              </span>
            </h6>
          </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
              <h6 class="mb-0">
                Địa chỉ:
                <span class="text-secondary ng-binding">
                  {{currentUser.company.address}}
                </span>
              </h6>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
              <h6 class="mb-0">
                Địa chỉ email:
                <span class="text-secondary ng-binding">
                  {{currentUser.company.emailOfContract}}
                </span>
              </h6>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
              <h6 class="mb-0">
                Số điện thoại:
                <span class="text-secondary ng-binding">
                  {{currentUser.company.mobile}}
                </span>
              </h6>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
              <h6 class="mb-0">
                Người đại diện:
                <span class="text-secondary ng-binding">
                  {{currentUser.company.delegate}}
                </span>
              </h6>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
              <h6 class="mb-0">
                Chức vụ:
                <span class="text-secondary ng-binding">
                  {{currentUser.company.position}}
                </span>
              </h6>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
              <h6 class="mb-0">
                Tên ngân hàng:
                <span class="text-secondary ng-binding">
                  {{currentUser.company.bankName}}
                </span>
              </h6>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
              <h6 class="mb-0">
                Số tài khoản:
                <span class="text-secondary ng-binding">
                  {{currentUser.company.bankAccount}}
                </span>
              </h6>
            </div>
        </div>
    </div>
  </div>