<div nz-row class="d-block system-settings-form customers-form manage-template-documents-table">
    <form nz-form [formGroup]="formSmsSetting" class="companyAgencies-form">
        <div class="page-container-form-custom">
            <div class="page-company">
                <div class="page-company__blank"></div>

                <h2>    CẤU HÌNH GỬI EMAIL </h2>

                <div class="page-company__main">
                    <nz-spin [nzSpinning]="isSpinning" class="page-company__main__spinning">
                        <div nz-row nzGutter="10">
                            <div nz-col [nzSpan]="16">
                                 <nz-form-item>
                                    <nz-form-label class="text-left" nz-col nzFlex="120px">Nhà cung cấp &nbsp; <span
                                            class="text-danger">*</span>
                                    </nz-form-label>
                                    <nz-form-control nz-col nzFlex="auto" [nzErrorTip]="nCCTpl"
                                        class="border-css">
                                        <nz-input-group nzSearch [nzAddOnAfter]="suffixButton">
                                            <input type="text" formControlName="name" nz-input
                                                placeholder="Nhà cung cấp" />
                                        </nz-input-group>
                                        <ng-template #nCCTpl let-control>
                                            <ng-container *ngIf="control.hasError('required')">
                                                Nhà cung cấp không để trống
                                            </ng-container>
                                        </ng-template>
                                    </nz-form-control>
                                </nz-form-item>
                            </div>
                        </div>

                        <div nz-row nzGutter="10">
                            <div nz-col [nzSpan]="16">
                                <nz-form-item>
                                    <nz-form-label class="text-left mr-2px" nz-col nzFlex="120px">
                                       Services gửi tin &nbsp; <span class="text-danger">*</span></nz-form-label>
                                    <nz-form-control nz-col nzFlex="auto" [nzErrorTip]="servicesTpl"
                                        class="border-css" >
                                        <input nz-input placeholder="Services gửi tin"
                                            formControlName="value">
                                        <ng-template #servicesTpl let-control>
                                            <ng-container *ngIf="control.hasError('required')">
                                                Services gửi tin không được để trống
                                            </ng-container>
                                        </ng-template>
                                    </nz-form-control>
                                </nz-form-item>
                            </div><!-- col -->
                        </div>

                        <div nz-row nzGutter="10">
                            <div nz-col [nzSpan]="16">
                                <nz-form-item>
                                    <nz-form-label class="text-left mr-2px" nz-col nzFlex="120px">
                                       Brand name &nbsp; <span class="text-danger">*</span></nz-form-label>
                                    <nz-form-control nz-col nzFlex="auto" [nzErrorTip]="BrandTpl"
                                        class="border-css" >
                                        <input nz-input placeholder=" Brand name" formControlName="value">
                                        <ng-template #BrandTpl let-control>
                                            <ng-container *ngIf="control.hasError('required')">
                                                Brand name không để trống
                                            </ng-container>
                                        </ng-template>
                                    </nz-form-control>
                                </nz-form-item>
                            </div><!-- col -->
                        </div>

                        <div nz-row nzGutter="10">
                            <div nz-col [nzSpan]="16">
                                <nz-form-item>
                                    <nz-form-label class="text-left mr-2px" nz-col nzFlex="120px">
                                        Tài khoản &nbsp; <span class="text-danger">*</span></nz-form-label>
                                    <nz-form-control nz-col nzFlex="auto" [nzErrorTip]="aCCTpl">
                                        <input nz-input placeholder=" Tài khoản" formControlName="value">
                                        <ng-template #aCCTpl let-control>
                                            <ng-container *ngIf="control.hasError('required')">
                                                Tài khoản không để trống
                                            </ng-container>
                                        </ng-template>
                                    </nz-form-control>
                                </nz-form-item>
                            </div><!-- col -->
                        </div>

                        <div nz-row nzGutter="10">
                            <div nz-col [nzSpan]="16">
                                <nz-form-item>
                                    <nz-form-label class="text-left mr-2px" nz-col nzFlex="120px">
                                        Mật khẩu &nbsp; <span class="text-danger">*</span></nz-form-label>
                                    <nz-form-control nz-col nzFlex="auto" [nzErrorTip]="passTpl">
                                        <input nz-input placeholder=" Mật khẩu" formControlName="value">
                                        <ng-template #passTpl let-control>
                                            <ng-container *ngIf="control.hasError('required')">
                                                Mật khẩu không để trống
                                            </ng-container>
                                        </ng-template>
                                    </nz-form-control>
                                </nz-form-item>
                            </div><!-- col -->
                        </div>

                        <div nz-row nzGutter="10">
                            <div nz-col [nzSpan]="24">
                                <nz-form-item>
                                    <nz-form-label class="text-left mr-2px" nz-col nzFlex="120px">
                                        Tùy chọn</nz-form-label>
                                    <nz-checkbox-wrapper nz-col nzFlex="auto">
                                        <label nz-checkbox formControlName="active">Sử dụng cấu hình </label>
                                    </nz-checkbox-wrapper>
                                </nz-form-item>
                            </div><!-- col -->
                        </div>

                        <div nz-row nzGutter="10">
                            <div nz-col nzMd="16" class="footer-botton d-flex">
                                <button class="mr-2" nz-button nzType="default" [routerLink]="['/system-settings']">
                                    <i nz-icon nzType="stop"></i>Đóng
                                </button>
                                <button class="ml-auto" nz-button nzType="primary" (click)="save()">
                                    <i nz-icon nzType="save"></i>Ghi
                                </button>
                            </div>
                        </div>
                    </nz-spin>
                </div>
            </div>
        </div>
    </form>
</div>