<nz-card nzTitle="Cài đặt luồng ký kết" class="signing-stream" [nzExtra]="addNewTemplate">
  <div nz-row>
    <nz-table 
    #basicTable 
    [nzData]="threadGroups"
    [nzShowPagination]="false"
     class="signing-stream-table">
      <thead>
        <tr>
          <th>#</th>
          <th>Thời gian tạo</th>
          <th>Tên luồng ký</th>
          <th>Hành động</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of basicTable.data; index as i">
          <td>{{i + 1}}</td>
          <td>{{data.dateCreate}}</td>
          <td>{{data.name}}</td>
          <td>
            <button nz-button nzType="default" (click)="getDetail(data.id)" class="text-primary"><i nz-icon nzType="form" nzTheme="outline"></i>Chỉnh sửa</button>
            <span class="pl-2"></span>
            <button nz-button nzType="default" (click)="delete(data.id)" class="text-danger"><i nz-icon nzType="close" nzTheme="outline"></i>Xóa</button>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </div>
</nz-card>
<ng-template #addNewTemplate>
  <button nz-button nzType="primary" (click)="add()" class="btn-success"><i nz-icon nzType="plus" nzTheme="outline"></i>
    Thêm luồng
  </button>
</ng-template>
