<div nz-row class="d-block system-settings-form customers-form manage-template-documents-table">
  <form nz-form [formGroup]="formHsmSetting" class="companyAgencies-form">
    <div class="page-container-form-custom">
      <div class="page-company">
        <div class="page-company__blank"></div>

        <h2>I. CẤU HÌNH KẾT NỐI API ECONTRACTS</h2>

        <div class="page-company__main">
          <nz-spin [nzSpinning]="isSpinning" class="page-company__main__spinning">

            <div nz-row nzGutter="10">
              <div nz-col [nzSpan]="16">
                <nz-form-item>
                  <nz-form-label class="text-left" nz-col nzFlex="120px">Tên cấu hình &nbsp; <span
                      class="text-danger">*</span>
                  </nz-form-label>
                  <nz-form-control nz-col nzFlex="auto" [nzErrorTip]="supplierTpl" class="imput-margin-left">
                    <nz-input-group nzSearch [nzAddOnAfter]="suffixButton">
                      <input type="text" formControlName="name" nz-input placeholder="Tên cấu hình" />
                    </nz-input-group>
                    <ng-template #supplierTpl let-control>
                      <ng-container *ngIf="control.hasError('required')">
                        Tên cấu hình không để trống
                      </ng-container>
                    </ng-template>
                  </nz-form-control>
                </nz-form-item>
              </div>
            </div>


            <div nz-row nzGutter="10">
              <div nz-col [nzSpan]="16">
                <nz-form-item>
                  <nz-form-label class="text-left mr-2px" nz-col nzFlex="120px">
                    Giá trị token &nbsp; <span class="text-danger">*</span></nz-form-label>
                  <nz-form-control nz-col nzFlex="auto" [nzErrorTip]="serviceTpl">
                    <textarea nz-input placeholder=" Service gửi tin" formControlName="value"></textarea>
                    <ng-template #serviceTpl let-control>
                      <ng-container *ngIf="control.hasError('required')">
                        Token không để trống
                      </ng-container>
                    </ng-template>
                  </nz-form-control>
                </nz-form-item>
              </div><!-- col -->
            </div>

            <div nz-row nzGutter="10">
              <div nz-col [nzSpan]="24">
                <nz-form-item>
                  <nz-form-label class="text-left mr-2px" nz-col nzFlex="120px">
                    Tùy chọn</nz-form-label>
                  <nz-checkbox-wrapper nz-col nzFlex="auto">
                    <label nz-checkbox formControlName="active">Sử dụng cấu hình </label>
                  </nz-checkbox-wrapper>
                </nz-form-item>
              </div><!-- col -->
            </div>

            <div nz-row nzGutter="10">
              <div nz-col nzMd="16" class="footer-botton d-flex">
                <button class="mr-2" nz-button nzType="default" [routerLink]="['/system-settings']">
                  <i nz-icon nzType="stop"></i>Đóng
                </button>
                <button class="ml-auto" nz-button nzType="primary" (click)="save()">
                  <i nz-icon nzType="save"></i>Ghi
                </button>
              </div>
            </div>
          </nz-spin>
        </div>
      </div>
    </div>
  </form>
</div>
